<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Ecom</display-name>
  <servlet>
  <servlet-name>SignUp</servlet-name>
  <servlet-class>com.ecom.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SignUp</servlet-name>
  <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Logout</servlet-name>
  <servlet-class>com.ecom.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Logout</servlet-name>
  <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Success</servlet-name>
  <jsp-file>loginsuccess.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>Success</servlet-name>
  <url-pattern>/success</url-pattern>
  </servlet-mapping>
  <filter>
  <filter-name>Authentication</filter-name>
  <filter-class>com.ecom.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>Authentication</filter-name>
  <url-pattern>/success</url-pattern>
  </filter-mapping>
  <servlet>
  <servlet-name>reset</servlet-name>
  <servlet-class>com.ecom.Reset</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>reset</servlet-name>
  <url-pattern>/reset</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Pass</servlet-name>
  <servlet-class>com.ecom.Password</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Pass</servlet-name>
  <url-pattern>/rsp</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>resetsuccess</servlet-name>
  <servlet-class>com.ecom.ResetSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>resetsuccess</servlet-name>
  <url-pattern>/password</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>Add Address</servlet-name>
  <servlet-class>com.ecom.AddAddress</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Add Address</servlet-name>
  <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Delete Address</servlet-name>
  <servlet-class>com.ecom.DeleteAddress</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Delete Address</servlet-name>
  <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <error-page>
  <error-code>500</error-code>
  <location>/error.html</location>
  </error-page>
   <servlet>
  <servlet-name>Add To Cart</servlet-name>
  <servlet-class>com.ecom.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Add To Cart</servlet-name>
  <url-pattern>/addtocart</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Delete Cart</servlet-name>
  <servlet-class>com.ecom.DeleteCart</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Delete Cart</servlet-name>
  <url-pattern>/deletecart</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Update Details</servlet-name>
  <servlet-class>com.ecom.UpdateDetails</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Update Details</servlet-name>
  <url-pattern>/updateDetails</url-pattern>
  </servlet-mapping>
</web-app>